.header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: header-s/header-e;
    grid-column: s/e;
}

.navbar {
    grid-row: navbar-s/navbar-e;
    grid-column: s/e;
    background-color: black;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}